select.btn {
    -webkit-appearance: button;
       -moz-appearance: button;
            appearance: button;
    width: auto;
}

select.btn-mini {
    height: auto;
    line-height: 14px;
    padding-right: 16px;
}

select.btn-mini + .caret {
    margin-left: -20px;
    margin-top: 2px;
}



ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}
li {
    float: left;
    border: 1px solid #000;
    border-bottom-width: 0;
    margin: 3px 3px 0px 3px;
    padding: 5px 5px 5px 5px;
    background-color: #FFF;
    color: #696969;
}

#main {
    border: 1px solid black;
	clear: both;
	margin: 0 0 10px 0;
	padding: 0 1em;
}
.active {
    background-color: #FFF;
    color: #000;
}